/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&family=Playfair+Display:wght@700;500&display=swap');


/*#region Default View*/
html, main, body, header{
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        background:#fff;
        color:#000;
    }

/*#region Header*/

header {
    background-image: linear-gradient(0deg, rgba(117,19,93,0.8) 0%, rgba(225,188,65,0) 30%, rgba(117,19,93,0.8) 100%),
    url('../images/reina-wine.png');
    height: 300px;
    width: 100%;
    transform: translate(0%, 0%);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin:0;
    padding:0;
}



header h1 {
    font-size: 8vw;
    text-shadow: #000 1px 2px;
    line-height: 1.3;
    text-align: center;
    padding-top:1em;
    color: white;
    

}

.content {
    font-size: 3vw;
    line-height: 1.5;
    text-shadow: #000 1px 2px;
    margin-top:1em;
    text-align:center;
    transform: translate(0%, 0%);
    color: white;

}

/*#endregion*/


/*#region Navigation */

nav {
    text-align: center;
    margin: 0;
  }
    
      ul {
          list-style: none;
          padding: .2em;
          margin: 0;
          display: grid;
          grid-auto-flow: column;
          justify-content: space-around;
          background: #d5d5d5;
      }
      
      li {
        width: 50px;
        height: 50px;
        display: grid;
        padding: 0 .5em;
          position: relative;
          align-content: center;
          text-transform: uppercase;
          color: #000;
          text-decoration: none;
          cursor: pointer;
      }

      a {

          position: relative;
          text-transform: uppercase;
          font-size: 2.3vw;
          display: grid;
          align-items: space-around;
          color: #000;
          text-decoration: none;
          cursor: pointer;
      }


  
      li:hover {
          background: #ca0668;
          color:#fff;
          padding: 0 .5em;
          border-radius: 5px;
          border-radius: 5px;
          z-index: 5;
      }

      li:hover a {
        color:#fff;

    }
          
  
  
  /*#endregion*/
  

/*#region Sections Formatting*/

.purple {
    background: rgba(117,19,93,.5);
    margin:0 0 0 0;
    padding: 1em 1em 4em 1em;

}

.purple h2 {
    display:block;
    padding: 0 2em 0 2em;
    text-align: center;
    font-size: 5vw;
    border-bottom: #ecebeb 1px solid;
    
}

.purple h3 {
    display:block;
    padding: 0em;
    margin:0;
    text-align: left;
    font-size: 4vw;
    color: rgba(117,19,93,1);
}

.purple p {
    display:block;
    margin:0;
    padding:0 0 1rem 0;
    text-align: left;
    font-size: 3vw;
    border-bottom: #000 10px;
    color: #d5d5d5;
}


.white {
    background: #fff;
    margin:1em;
    padding-top: 3em;
    padding-bottom: 3em;

}

.white h2 {
    display:block;
    padding: 0 2em 0 2em;
    text-align: center;
    font-size: 5vw;
    border-bottom: #ecebeb 1px solid;
    
}

.white h3 {
    display:block;
    padding: 0em;
    margin:0;
    text-align: left;
    font-size: 4vw;
    color: rgba(117,19,93,1);
}

.white p {
    display:block;
    margin:0;
    padding:0 0 4rem 0;
    text-align: left;
    font-size: 3vw;
    border-bottom: #000 10px;
    color: #d5d5d5;
}



/*#endregion*/


/*#region Shape Outside Formatting*/

.polygon {
    margin: 2em 1em 8em 1em;
}

.polygon-img {
    float:left;
    clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
    shape-outside: polygon(0 0, 80% 0, 110% 110%, 30% 100%);
    max-width: 50%;
}

.circle {
    margin: 1em;
    background: rgba(255, 240, 240, 0.9)
}

.circle-img {
    float:left;
    clip-path: ellipse(90% 70% at -15% 50%);
    shape-outside: ellipse(90% 70% at 0% 50%);
    width: 52%;
    height:auto;
    margin: 0 .3rem 0 0;
    object-position: -10vw center;
}

.circle-text {
    display: block;
    padding: 2em 1em 1.3em 1em;

    }

    .circle-text p {
        color:#000;
        }
    

/*#endregion*/

/*#region Masking Formatting*/

.masking {
    margin: 2em 1em 2em 1em;
}

.svg {
    margin:0;
}

.svg-text{
    display: block;
    padding: 1em 2em 1em 2em;
}

.svg-text h3{
    display: block;
    text-align: center;
    padding-bottom: 1em;
}

.svg-text p{
    display: block;
    text-align: justify;
    color:#000;
}

.gradient {
    margin: 0em;
}

.gradient-img {
    width:100%;
    -webkit-mask-image: radial-gradient(circle, black 70%, rgba(0, 0, 0, 0.5) 70%);
    mask-image: radial-gradient(circle, black 65%, rgba(0, 0, 0, 0.5) 70%);

    }

.gradient-text {
    display: block;
    padding: 1em 2em 1em 2em;
    text-align: center;
    }

    .gradient-text h3{
        display: block;
        text-align: center;
        padding-bottom: 1em;
    }
    
    .gradient-text p{
        display: block;
        text-align: justify;
        color:#000;
    }

/*#endregion*/

/*#region Blend Modes Formatting*/

.blend {
    margin: 2em 1em 2em 1em;
}

.burn {
    margin:0;
    margin-bottom: 2em;
}

.burn img {
    width:100%;
    }

.burn img:hover {
    mix-blend-mode: color-burn;
}

.burn-text{
    display: block;
    padding: 1em 2em 1em 2em;
}

.burn-text h3{
    display: block;
    text-align: center;
    padding-bottom: 1em;
}

.burn-text p{
    display: block;
    text-align: justify;
}

.saturation {
    margin: 0em;
}

.saturation-img {
    width:100%;
    background: url("../images/reina-wine.png") fixed no-repeat center/cover;

    }

.saturation-img:hover {
    mix-blend-mode: saturation;
}

.saturation-text {
    display: block;
    padding: 1em 2em 1em 2em;
    text-align: center;
    }

    .saturation-text h3{
        display: block;
        text-align: center;
        padding-bottom: 1em;
    }
    
    .saturation-text p{
        display: block;
        text-align: justify;
        color:#000;
    }

/*#endregion*/

/*#region Filters Formatting*/


.filters {
    margin: 1em 1em 1em 1em;
}

.contrast {
    margin:0;
}

.contrast img {
    width:100%;
    filter: contrast(200%);
    }

.contrast img:hover {
    filter: contrast(50%);
}

.contrast-text{
    display: block;
    padding: 1em 2em 1em 2em;
}

.contrast-text h3{
    display: block;
    text-align: center;
    padding-bottom: 1em;
}

.contrast-text p{
    display: block;
    text-align: justify;
    color: #000;;
}


.grey {
    margin:0;

}

.grey img {
    width:100%;
    filter:grayscale(100%);

    }


.grey-text{
    display: block;
    padding: 1em 2em 1em 2em;
}

.grey-text h3{
    display: block;
    text-align: center;
    padding-bottom: 1em;
}

.grey-text p{
    display: block;
    text-align: justify;
    color: #000;;
}

/*#endregion*/


/*#region Combo Formatting*/

.combo {
    margin: 2em 1em 2em 1em;
}

.combo {
    margin:0;
    margin-bottom: 2em;
}

.combo img {
    float:left;
    width:40%;
    shape-outside: polygon(0% 0%, 0% 110%, 25% 110%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 110%, 110% 110%, 110% 0%);
    margin: 1em;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    -webkit-mask-image: linear-gradient(to top, transparent 25%, black 75%);
    mask-image: linear-gradient(to top, transparent 25%, black 75%);
    -webkit-mask-mode: luminance;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    filter:invert(100%);
    mix-blend-mode: screen;


    }

.combo-text{
    display: block;
    padding: 1em;

}

.combo-text h3{
    display: block;
    text-align: center;
}

.combo-text p{
    display: block;
    text-align: justify;
}


/*#endregion*/


/*#endregion*/


@media only screen and (min-width : 700px) {



@media only screen and (min-width : 1000px) {
 

/*#region Hero*/

.hero-image {
    height: 250px;
    position: relative;    
    background: linear-gradient(0deg, rgba(117,19,93,1) 0%, rgba(117,19,93,0.6) 30%, rgba(117,19,93,1) 100%);

}

.hero-header h1 {
    font-size: 3.5vw;
    line-height: 1.3;
    text-align: center;
    color: white;

}

.hero-header p {
    line-height: 1.8;
    text-align: center;
    color: white;
    font-size: 1.5vw;

}
/*#endregion*/


/*#region Navigation */

nav {
    text-align: center;
    margin: 0;

  }
    
      ul {
          list-style: none;
          padding-top: 1em;
          padding-bottom: 1em;
          margin: 0;
          display: grid;
          grid-auto-flow: column;
          justify-content: space-around;
          background: #d5d5d5;
          border-top: #000 2px solid;
          border-bottom: #000 2px solid;
      }
      
      li {
        width: 175px;
        height: 30px;
        display: grid;
        padding: .5em .5em;
          position: relative;
          align-content: center;
          text-transform: uppercase;
          color: #000;
          text-decoration: none;
          cursor: pointer;
      }

      a {

          position: relative;
          text-transform: uppercase;
          font-size: 1.5vw;
          display: grid;
          align-items: space-around;
          color: #000;
          text-decoration: none;
          cursor: pointer;
      }


  
      li:hover {
          background: #ca0668;
          color:#fff;
          padding: 0.5em .5em;
          border-radius: 5px;
          border-radius: 5px;
          z-index: 5;
      }

      li:hover a {
        color:#fff;

    }
          
  
  
  /*#endregion*/
  


/*#region Shape Outside Formatting*/

.polygon {
    margin: 2em 1em 8em 1em;
}

.polygon-img {
    float:left;
    clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
    shape-outside: polygon(0 0, 80% 0, 110% 110%, 30% 100%);
    max-width: 30%;
}

.circle {
    margin: 2em 1em 8em 1em;
    padding: 0em 1em 7.6em 0em;
    background: rgba(255, 240, 240, 0.9);
}

.circle-img {
    float:left;
    clip-path: ellipse(90% 70% at -15% 50%);
    shape-outside: ellipse(90% 70% at 0% 50%);
    width: 40%;
    height:auto;
    margin: 0 .3rem 0 0;
    object-position: -10vw center;
}

.circle-text {
    display: block;
    padding: 3em 1em 1.3em 0em;

    }

    .circle-text p {
        color:#000;
        }
    

/*#endregion*/

/*#region Masking Formatting*/

.masking {
    margin: 2em 1em 2em 1em;
}

svg {
    margin:0;
    display: grid;
}

.svg-text{
    display: grid;
    padding: 1em 2em 1em 2em;
}

.svg-text h3{
    display: block;
    text-align: center;
    padding-bottom: 1em;
}

.svg-text p{
    display: block;
    text-align: justify;
    color:#000;
}

.gradient {
    margin: 0em;
}

.gradient-img {
    display: grid;
    width:100%;
    -webkit-mask-image: radial-gradient(circle, black 70%, rgba(0, 0, 0, 0.5) 70%);
    mask-image: radial-gradient(circle, black 65%, rgba(0, 0, 0, 0.5) 70%);

    }

.gradient-text {
    display: block;
    padding: 1em 2em 1em 2em;
    text-align: center;
    }

    .gradient-text h3{
        display: block;
        text-align: center;
        padding-bottom: 1em;
    }
    
    .gradient-text p{
        display: block;
        text-align: justify;
        color:#000;
    }

/*#endregion*/

/*#region Blend Modes Formatting*/

.blend {
    margin: 2em 1em 2em 1em;
}

.burn {
    margin:0;
    margin-bottom: 2em;
}

.burn img {
    width:100%;
    }

.burn img:hover {
    mix-blend-mode: color-burn;
}

.burn-text{
    display: block;
    padding: 1em 2em 1em 2em;
}

.burn-text h3{
    display: block;
    text-align: center;
    padding-bottom: 1em;
}

.burn-text p{
    display: block;
    text-align: justify;
}

.saturation {
    margin: 0em;
}

.saturation-img {
    width:100%;
    background: url("../images/reina-wine.png") fixed no-repeat center/cover;

    }

.saturation-img:hover {
    mix-blend-mode: saturation;
}

.saturation-text {
    display: block;
    padding: 1em 2em 1em 2em;
    text-align: center;
    }

    .saturation-text h3{
        display: block;
        text-align: center;
        padding-bottom: 1em;
    }
    
    .saturation-text p{
        display: block;
        text-align: justify;
        color:#000;
    }

/*#endregion*/

/*#region Filters Formatting*/


.filters {
    margin: 1em 1em 1em 1em;
}

.contrast {
    margin:0;
}

.contrast img {
    width:100%;
    filter: contrast(200%);
    }

.contrast img:hover {
    filter: contrast(50%);
}

.contrast-text{
    display: block;
    padding: 1em 2em 1em 2em;
}

.contrast-text h3{
    display: block;
    text-align: center;
    padding-bottom: 1em;
}

.contrast-text p{
    display: block;
    text-align: justify;
    color: #000;;
}


.grey {
    margin:0;

}

.grey img {
    width:100%;
    filter:grayscale(100%);

    }


.grey-text{
    display: block;
    padding: 1em 2em 1em 2em;
}

.grey-text h3{
    display: block;
    text-align: center;
    padding-bottom: 1em;
}

.grey-text p{
    display: block;
    text-align: justify;
    color: #000;;
}

/*#endregion*/


/*#region Combo Formatting*/

.combo {
    margin: 2em 1em 2em 1em;
}

.combo {
    margin:0;
    margin-bottom: 2em;
}

.combo img {
    float:left;
    width:40%;
    shape-outside: polygon(0% 0%, 0% 110%, 25% 110%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 110%, 110% 110%, 110% 0%);
    margin: 1em;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    -webkit-mask-image: linear-gradient(to top, transparent 25%, black 75%);
    mask-image: linear-gradient(to top, transparent 25%, black 75%);
    -webkit-mask-mode: luminance;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    filter:invert(100%);
    mix-blend-mode: screen;


    }

.combo-text{
    display: block;
    padding: 1em;

}

.combo-text h3{
    display: block;
    text-align: center;
}

.combo-text p{
    display: block;
    text-align: justify;
}


/*#endregion*/



}


/*#endregion*/





/*#endregion*/


}