/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,600;1,700;1,800;1,900&display=swap');


/*#region Default View*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


html{
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        background: rgba(210,201,204,.2);
        color:#000;
    }

/*#region Hero Header*/

header {
    background-color: #fff;
    background-image: url('https://picsum.photos/1000/300');
    object-fit: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin:0;
    padding:1rem;
}



header h1 {
    font-size: 7vw;
    line-height: 1.5;
    text-align: left;
    color: rgba(52,62,112,1);
    font-family: raleway,sans-serif;
    font-weight: 500;

}

header p {
    font-size: 4vw;
    line-height: 1;
    padding-top:3em;
    text-align:left;
    transform: translate(0%, 0%);
    color: rgba(52,62,112,1);

}

/*#endregion*/


/*#region Navigation */
  
  .container {
    max-width: 1200px;
    width: 90%;
    margin: 0;
  }
  
  .navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(219, 187, 172);
    background-color:#fff;
  }


  .logo {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1.2rem;
    color: #0e2431;
    font-family: raleway, sans-serif;
  }

  .shannon {
    font-size: 1.5rem;
    color: rgba(179,158,90,1);
    font-family: raleway, sans-serif;
    font-weight:600;
  }

  .fong {
    font-size: 1.5rem;
    color: rgba(52,62,112,1);
    font-family: raleway, sans-serif;
    font-weight:400;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    height: 62px;
    font-family: raleway, sans-serif;
  }
  
  .navbar .menu-items {
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: -20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: -20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 100px;
    background-color: rgba(219, 187, 172, 1);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 120%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }
  
  /* The sticky */
  nav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }


  
  
  /*#endregion*/


/*#region Home*/

.home1 {
    padding: 2em;
}

.home1-text h2 {
    color:rgba(179, 158, 90, 1);
    font-family: open-sans, sans-serif;
    font-weight: 600;
    padding-top: 1rem;;
    padding-bottom: .5rem;
    text-align: center;

}

.home1-text p {
    color:rgba(56, 44, 41, 1);
    font-family: open-sans, sans-serif;
    font-weight: 500;
    padding-top: 1rem;;
    padding-bottom: 1rem;
    text-align: justify;
    line-height: 1.4;
}

.home2 {
    padding: 2em;
    background-color: rgba(52,62,112,1);
}

.home2-text h2 {
    color:rgba(179, 158, 90, 1);
    font-family: open-sans, sans-serif;
    font-weight: 600;
    padding-top: 1rem;;
    padding-bottom: 1rem;
    text-align: center;
}

.home2-text p {
    color:rgba(255, 255, 255, .7);
    font-family: open-sans, sans-serif;
    font-weight: 500;
    padding-top: 1rem;;
    padding-bottom: 1rem;
    text-align: justify;
    line-height: 1.4;
}

.home2-text button {
    display: block;
    color:rgba(255, 255, 255, 1);
    background-color:rgba(179, 158, 90, 1);
    text-transform: capitalize;
    font-weight: 500;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.home2-text button:hover {
    background-color:rgba(255, 255, 255, 1);
    color:rgba(179, 158, 90, 1);
    font-family: open-sans, sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 8px;
    border-color: rgba(179, 158, 90, 1);
    border-width: 2px;
}

.home2-img {
    visibility: visible;
    width: 100%;
}

.home3 {
    padding: 2em;
}

.home3-text h2 {
    color:rgba(179, 158, 90, 1);
    font-family: open-sans, sans-serif;
    font-weight: 600;
    padding-top: 1rem;;
    padding-bottom: 1rem;
    text-align: center;
}

.home3-text p {
    color:rgba(56, 44, 41, 1);
    font-family: open-sans, sans-serif;
    font-weight: 500;
    padding-top: 1rem;;
    padding-bottom: 1rem;
    text-align: justify;
    line-height: 1.4;
}

.home3-text button {
    display: block;
    color:rgba(255, 255, 255, 1);
    background-color: rgba(52,62,112,1);
    text-transform: capitalize;
    font-weight: 500;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.home3-text button:hover {
    background-color:rgba(255, 255, 255, 1);
    color: rgba(52,62,112,1);
    font-family: open-sans, sans-serif;
    text-transform: capitalize;
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 8px;
    border-color: rgba(52,62,112,1);
    border-width: 2px;
}

.home3-img {
    visibility: visible;
    width: 100%;
}


/*#endregion*/


/*#region About*/



/*#endregion*/


/*#region Portfolio*/


/*#endregion*/

/*#region Contact*/

.contact {
    background-color: rgba(52,62,112,1);
    background-image: url('https://picsum.photos/600/600');
}

.contact h1 {
    color:rgba(179, 158, 90, 1);
    font-family: open, sans-serif;
    font-weight: 600;
    padding-top: 5rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 6vw;
}

.contact p {
    color:rgba(255, 255, 255, .7);
    font-family: open-sans, sans-serif;
    font-weight: 500;
    padding-top: 1rem;;
    text-align: center;
    line-height: 1.4;
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
    display: block;	
    padding-top:0px;
}

#form-div {
	background-color:rgba(255,255,255,1);
	padding:35px;
	width: 450px;
    margin:3em auto;
    border-radius: 3px;
    display: block;

}

.feedback-input {
	color:rgba(210,201,204,.4);
	font-family: open, sans-serif;
    font-weight:500;
	font-size: 18px;
	border-radius: 7px;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 15px 0px 15px 20px;
	margin-bottom: 10px;
	width:100%;
	box-sizing: border-box;
    border: 3px solid rgba(179,158,90,.8);
    box-shadow: rgba(210,201,204,.7) 2px 2px;
    
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid rgba(52, 62, 112, 1);
	color: rgba(52, 62, 112, 1);
	outline: none;
	padding: 15px 0px 15px 20px;
}

.focused{
	color:rgba(52, 62, 112, 1);
	border:rgba(52, 62, 112, 1) solid 3px;
}


textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'raleway', sans-serif;
	width: 100%;
	border: #fff solid 4px;
    border-radius: 7px;
	cursor:pointer;
	background-color: rgba(52, 62, 112, 1);
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	transition: all 0.3s;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: rgba(52, 62, 112, 1);
    border: rgba(52, 62, 112, 1) solid 4px;
    border-radius: 7px;


}
	
.submit:hover {
	color: rgba(52, 62, 112, 1);

}
	
.ease {
	width: 0px;
	height: 20px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

/*#endregion*/


/*#region Footer*/

.footer-main {
    box-shadow: -4px -4px rgba(219, 187, 172,.5);
    background-color:#fff;
    padding-bottom: 2rem;
}

.flogo {
    text-align: center;
    font-size: 1.5em;
    font-family: raleway, sans-serif;
    padding: 2rem 0 1rem 0;
  }

  .social-icons {
    display: flex;
    justify-content: center;
  }

  .fb-icon {
    width: 6vw;
    height: auto;
    margin: 1rem 1rem;
  }

  .ig-icon {
    width: 6vw;
    height: auto;
    margin: 1rem 1rem;

  }

  .in-icon {
    width: 6vw;
    height: auto;
    margin: 1rem 1rem;
  }

  .fb-icon:hover {
    width: 7vw;
    height: auto;
    margin: 1rem 1rem;
  }

  .ig-icon:hover {
    width: 7vw;
    height: auto;
    margin: 1rem 1rem;

  }

  .in-icon:hover {
    width: 7vw;
    height: auto;
    margin: 1rem 1rem;

  }

  .column2, .column3 {
    display: block;
  }
  
  .column2 li, .column3 li{
    list-style: none;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
  }

    .column2 a, .column3 a{
        text-decoration: none;
        color:rgba(52, 62, 112, 1);
        font-weight: 500;
        font-size: 1.2rem;
        }


    .column2 a:hover, .column3 a:hover{
        font-weight: bolder;
        text-decoration: underline;
        color:rgba(179, 158, 90, 1);
    }

.footer-copyright {
    text-align: center;
    padding: 1rem 0rem;
    background-color:rgba(52, 62, 112, 1);
    color: #fff;
}

/*#endregion*/


/*#endregion*/


@media only screen and (min-width : 700px) {

}

@media only screen and (min-width : 1000px) {
 
}