/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&family=Playfair+Display:wght@700;500&display=swap');


/*#region Default View*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, main, body, header{
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        background:#fff;
        color:#000;
    }


/*#region Header*/

header {
    background-color: rgba(210, 201, 204, .7);
    height: auto;
    width: 100%;
    margin:0;
    padding:0;
}

header h1 {
    font-size: 7vw;
    text-shadow: rgba(52,62,112,.5) 1px 1px;
    text-align: center;
    padding-top:1em;
    padding-bottom: .5em;
    color: rgba(52,62,112,1);
    
}

/*#endregion*/


/*#region Navigation */

nav {
    text-align: center;
    margin: 0;
  }
    
      ul {
          list-style: none;
          padding: .2em;
          margin: 0;
          display: grid;
          grid-auto-flow: column;
          justify-content: space-around;
          background: rgba(210, 201, 204, .9);
          box-shadow: #000;

      }
      
      li {
        width: 100px;
        height: 50px;
        display: grid;
        padding: 0 .5em;
          position: relative;
          align-content: center;
          text-transform: uppercase;
          color: #000;
          text-decoration: none;
          cursor: pointer;
      }

      a {

          position: relative;
          text-transform: uppercase;
          font-size: 2.3vw;
          display: grid;
          align-items: space-around;
          color: #000;
          text-decoration: none;
          cursor: pointer;
      }


  
      li:hover {
          background: rgba(179,158,90,1);
          color:#fff;
          padding: 0 .5em;
          border-radius: 5px;
          border-radius: 5px;
          z-index: 5;
      }

      li:hover a {
        color:#fff;

    }
          
  
  
  /*#endregion*/
  

/*#region Sections Formatting*/

.light {
    background: rgba(219, 187, 172, .9);
    margin:0 0 0 0;
    padding: 1em 1em 1em 1em;

}

.light h2 {
    display:block;
    padding: 1em;
    text-align: center;
    font-size: 5vw;    
    color: rgba(52,62,112,1)
}


.light p {
    display:block;
    text-align: center;
    font-family: lato, sans-serif;
    margin:0;
    padding:0 0 1rem 0;
    font-size: 3vw;
    border-bottom: #000 10px;
    color: (65,44,41,1);
}


.dark {
    margin:0 0 0 0;
    padding: 2em 1em 1em 1em;
    background: rgba(139,80,62 ,.8);


}

.dark h2 {
    display:block;
    padding: 1em;
    text-align: center;
    font-size: 5vw;    
    color: rgba(52,62,112,1)
    
}


.dark p {
    display:block;
    margin:0;
    padding:0 0 4rem 0;
    text-align: left;
    font-size: 3vw;
    border-bottom: #000 10px;
    color: #d5d5d5;
}



/*#endregion*/


/*#region Video Formatting*/

       
video {
    display: block;
    margin: 5rem auto;
    width: 100%;
    height:auto;
    border: 2px solid rgba(52,62,112,.5);
    border-radius: 1rem;
}
   

 .cssMask3 {
   clip-path: polygon(50% 0%, 0% 98%, 98% 98%);
 }
   
  

/*#endregion*/

/*#region Audio Player Formatting*/

audio {
    display:block;
    margin:2rem auto;
  }

/*#endregion*/

/*#region Blend Modes Formatting*/


/*#endregion*/

/*#region Filters Formatting*/


/*#endregion*/


/*#region Combo Formatting*/




/*#endregion*/


/*#endregion*/


@media only screen and (min-width : 700px) {

}

@media only screen and (min-width : 1000px) {
}
