/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&family=Playfair+Display:wght@700;500&display=swap');


/*#region Default View*/

* {
    margin: 0;
    padding: 0;
}

html, main, body, header{
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        background:#fff;
        color:#000;
    }


/*#region Header*/

header {
    background-color: rgba(210, 201, 204, 0.7);
    height: auto;
    width: 100%;
    margin:0;
    padding:0;
}

.bgvid {
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background-color: rgb(203, 151, 62);
}

video {
    display: block;
    /* play with imaging effects! */
    mix-blend-mode: multiply;
    filter: opacity(0.1);
    filter: contrast(0.1);

    /* make it fill and center */
    object-fit: cover;
    object-position: 50%;
    width: 100vw;
    height: 100vh;
}


header h1 {
    font-size: 7vw;
    text-shadow: rgba(52,62,112,.5) 1px 1px;
    text-align: center;
    padding-top:1em;
    padding-bottom: 1em;
    color: rgba(52,62,112,1);
    
}

/*#endregion*/


/*#region Navigation */

nav {
    text-align: center;
    margin: 0;
  }
    
      ul {
          list-style: none;
          padding: .2em;
          margin: 0;
          display: grid;
          grid-auto-flow: column;
          justify-content: space-around;
          background: #d5d5d5;
      }
      
      li {
        width: 50px;
        height: 50px;
        display: grid;
        padding: 0 .5em;
          position: relative;
          align-content: center;
          text-transform: uppercase;
          color: #000;
          text-decoration: none;
          cursor: pointer;
      }

      a {

          position: relative;
          text-transform: uppercase;
          font-size: 2.3vw;
          display: grid;
          align-items: space-around;
          color: #000;
          text-decoration: none;
          cursor: pointer;
      }


  
      li:hover {
          background: #ca0668;
          color:#fff;
          padding: 0 .5em;
          border-radius: 5px;
          border-radius: 5px;
          z-index: 5;
      }

      li:hover a {
        color:#fff;

    }
          
  
  
  /*#endregion*/
  

/*#region Sections Formatting*/

.purple {
    background: rgba(117,19,93,.5);
    margin:0 0 0 0;
    padding: 1em 1em 4em 1em;

}

.purple h2 {
    display:block;
    padding: 0 2em 0 2em;
    text-align: center;
    font-size: 5vw;
    border-bottom: #ecebeb 1px solid;
    
}

.purple h3 {
    display:block;
    padding: 0em;
    margin:0;
    text-align: left;
    font-size: 4vw;
    color: rgba(117,19,93,1);
}

.purple p {
    display:block;
    margin:0;
    padding:0 0 1rem 0;
    text-align: left;
    font-size: 3vw;
    border-bottom: #000 10px;
    color: #d5d5d5;
}


.white {
    background: #fff;
    margin:1em;
    padding-top: 3em;
    padding-bottom: 3em;

}

.white h2 {
    display:block;
    padding: 0 2em 0 2em;
    text-align: center;
    font-size: 5vw;
    border-bottom: #ecebeb 1px solid;
    
}

.white h3 {
    display:block;
    padding: 0em;
    margin:0;
    text-align: left;
    font-size: 4vw;
    color: rgba(117,19,93,1);
}

.white p {
    display:block;
    margin:0;
    padding:0 0 4rem 0;
    text-align: left;
    font-size: 3vw;
    border-bottom: #000 10px;
    color: #d5d5d5;
}



/*#endregion*/


/*#region Video Formatting*/

       
video {
    display: block;
    margin: 5rem auto;
    width: 100%;
    height:auto;
    border: 2px solid rgba(52,62,112,.5);
    border-radius: 1rem;
}
   

 .cssMask3 {
   clip-path: polygon(50% 0%, 0% 98%, 98% 98%);
 }
   
  

/*#endregion*/

/*#region Audio Player Formatting*/

audio {
    display:block;
    margin:2rem auto;
  }

/*#endregion*/

/*#region Blend Modes Formatting*/


/*#endregion*/

/*#region Filters Formatting*/


/*#endregion*/


/*#region Combo Formatting*/




/*#endregion*/


/*#endregion*/


@media only screen and (min-width : 700px) {

}

@media only screen and (min-width : 1000px) {
}
